.navbar-brand>img {
    display: block;
    margin-top: -20px;
}
.search-form{
    background-color: hsla(27, 93%, 60%, 0.56);
    
}

.bootstrap-select button.dropdown-toggle {
    color:#000;
    font-weight: bold;
}

.slider-content h2 {
    margin-bottom: 50px;
    font-size: 42px;
    text-shadow: 1px 0 1px rgba(0,0,0,.75);
    color: rgb(255, 165, 0);
}
.search-form .search-toggle {
    color:#fff;
}
.pull-left.color, .pull-right.color{
    color:#fff;
    
}
.prostor {
    padding: 120px;
    background-color: #f3f3f3;
   
}
.welcome-icon{
    cursor: default;
}
.footer img {
    height: 46px;
}

.news-letter .form-control {
    color:#fff;
    font-weight: bold;
}

#return-to-top {
    position: absolute;
    bottom: 2px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 35px;
    
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top p {
    color: #fff;
    padding-bottom: 0px;
    margin: 0;
    position: relative;
    font-size: 19px;
    top:4px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover p{
    color: #fff;
    top: -5px;
}

.navigacija {
    position: fixed;
}
header {
    -o-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;
    
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky {
    background-color: #dadada;
    min-height: 50px;
    height: 50px; 
    
    .navbar-brand > img{
        margin-top: -26px;
        width: 70px !important;
    }
    .navbar-nav > li > a {
        margin-top: -25px;
    }
    .nav-button {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .button.navbar-right {
    padding-top: 10px;
    margin-top: -27px;
}
}
